<h2>Login</h2>
<% if flash.key? :error %>
  <p><%= flash[:error] %></p>
<% end %>

<%= form_with url: auth_signin_path do |form| %>
  <%= form.label :name, 'User Name' %>
  <%= form.text_field :name %>
  <br />
  <%= form.submit "Login", disable_with: 'Logging In...' %>
<% end %>
<br/>
<h3>New User ?</h3>
<%= link_to 'Sign Up', new_user_path %>