<h2>Welcome <%= @user.name %></h2>
<br/>
<%= link_to "Logout", auth_login_path %>
<br/>
<p>
  Your Loyalty Level is <b><%= @user.tier.capitalize %></b>
  <br/>
  Please make some <%= link_to 'transaction', new_user_transaction_path(@user) %> to increase your Loyalty Level!
  <br/>
  <% if @total_loyalty_points.present? %>
    You have total <b><%= @total_loyalty_points %></b> Loyalty Points in your account!
  <% end %>
</p>
<br/>
<% if @user.transactions.present? %>
  <%= link_to 'View Transactions', user_transactions_path(@user) %>
<% end %>
